* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: white;
}

h1,
h2,
h3 {
    margin: 0;

}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    padding: 0 10px;
    min-height: 20vh;
   

}



.inBorder {
    border-radius: 5px;
}

header h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.iconList {
    background-image: url('../images/poopattern.jpg');
    opacity: 0.8;
    border: 2px groove rgb(206, 203, 203);
    border-radius: 80px;
    min-height: 150px;
    min-width: 150px;
    box-shadow: 0 5px 10px rgb(62, 61, 61);
    margin: 10px 25px 15px 0;
}

nav {
    background-color: rgb(241, 237, 237);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0 5px 25px rgb(62, 61, 61);
    line-height: 1.5;
    margin: 0 0 20px 0;
    position: relative;

}


nav a {
    text-decoration: none;
    color: black;
    font-family: 'Cabin', sans-serif;
    margin: 5px 10px 20px 5px;
    border-radius: 5px;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    background-color: gray;

}

/* .container {
    margin: 20px 0;
} */

.textCarousel {
    background-color: rgb(184, 223, 247);
    height: 10vh;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 20px 0;
    padding: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 15px lightsteelblue;
}

.guardian {
    font-size: 2em;
}

.secondChild {
    padding: 20px;
    color: red;
    font-family: 'DM Serif Display', serif;
}

.guardianText {
    margin: 20px;
}

.guardianText p {
    margin: 10px 0;
    padding: 10px;
}

.aboutText {
    color: black;
    background-color: rgb(236, 231, 231);
    box-shadow: 5px 5px 15px rgb(75, 74, 74);
    padding: 20px 40px;
}

.aboutText p {
    margin-bottom: 10px;
}

main {
    max-width: 88%;
    margin: 20px auto 10px auto;

}

.doodleCard {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

}

.doodleCard .card {
    margin: 15px 0;

}

.doodleGal {
    background-color: rgb(184, 223, 247);
    height: 15vh;
    font-size: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 20px 0;
    padding: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 15px lightsteelblue;
}

footer {

    margin-top: 25px;
}

footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 20px 40px 20px;

}

footer div img {

    margin: 0 30px;
}



/* .iconList {
    display: flex;
    flex-flow: column;
    font-size: 5em;
}

.iconList a:before {

    content: "\00A3";
    font-family: 'Font Awesome 5 Brands';
    font-weight: 900;


} */